<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon"/>
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{url_for('static', filename='apple-touch-icon.png')}}" />
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		
		<title>About</title>

		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='styles.css')}}"/>
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/styles/grey.css')}}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/footer/left.css')}}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/banners/image1.css')}}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/sidebar/right.css')}}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/header/default.css')}}" />
		
		<script type="text/javascript" src="{{url_for('static', filename='javascript.js')}}"></script>
	</head>
	
<div class="ribbon">
  <a href="https://github.com/jaygreco/jaygreco-lambda">Served using AWS Lambda<br>Fork me on GitHub!</a>
</div>

<body>
<div id="border">
	<div id="wrapper">
	<div id="pageHeader"><!-- Start page header -->
		
		<h1></h1>
		<h2></h2>
	</div><!-- End page header -->
<div id="container">
	<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
 		<div id="breadcrumbcontainer"><!-- Start the breadcrumb wrapper -->
			
		</div><!-- End breadcrumb -->
		<div id="sidebar"><!-- Start sidebar content -->
			<h3>Quick Links</h3>
			<a href="http://www.blog.jay-greco.com/" rel="external">Blog</a><br />
			<a href="http://www.apps.jay-greco.com" rel="external">Apps By Jay Greco</a><br/>
			<a href="https://www.linkedin.com/in/jay-greco/" rel="external">LinkedIn</a> <br />
			<a href="https://github.com/jaygreco" rel="external">GitHub</a> <br />
			<a href="http://www.thingiverse.com/jaygreco/designs" rel="external">Thingiverse</a> <br/>
		</div><!-- End sidebar content -->
	</div><!-- End sidebar wrapper -->
	
	<div id="contentContainer"><!-- Start main content wrapper -->
		<div id="content"><!-- Start content -->
			

<div class='stacks_top'>
	<div class='stacks_in'>
		<div class='stacks_out'>
			<div class='stacks_in'>
				<div class='centered_image' >
					<img class='imageStyle' src="{{url_for('static', filename='Jay-3.jpg')}}" width='500' alt='Profile Image' />
				</div>
			</div>
		</div>
		<div class='stacks_out'>
			<div class='stacks_in'>
				<span style="font-size:15px;">
				<br>
				I'm an electrical and computer engineer from Boulder, Colorado.<br><br>

				I graduated Summa Cum Laude at the University of Colorado School of Engineering in May of 2015. I graduated with a focus in Power Electronics, Control Systems, and a <a href="http://www.colorado.edu/engineeringleadershipprogram/" target="_blank">certificate in Engineering Leadership</a>.<br><br>

				I'm a forward-thinking engineer with a knack for seeing the big picture. I have a passion for creating. I never shy away from a challenge. I seek constant self-improvement. I'm agreeable, open-minded, and kind.<br><br><hr>

				<span style="font-size:20px; font-style:italic">"You want to know what somebody's going to do? Look what they've been doing their whole lives." -Barack Obama </span><br><hr><br>

				I've spent over three years at <a href="https://www.tensentric.com" target="_blank">Tensentric</a>, designing, building, and testing Medial Devices for some of the world's largest MedTech companies. In my off time, I’ve been building <a href="https://youtu.be/9V9N1CbgrxY" target="_blank">Fat-Tire eBikes</a>, doing <a href="https://youtu.be/QiD7SqxPbMY" target="_blank">technical teardowns</a>, and <a href="http://www.blog.jay-greco.com/wp/?p=116" target="_blank">reverse engineering</a> other people’s hardware and software. Oh, and the occasional <a href="http://www.jay-greco.com/files/stacks_image_0.png" target="_blank">trip down under</a>!<br><br>

				Feel free to check out some of my open-soruce projects on <a href="https://github.com/jaygreco">Github</a> and <a href="https://www.thingiverse.com/jaygreco/designs">Thingiverse</a>.

				</span>
				</div>
			</div>
		</div>
	</div><!-- End of Stacks Content -->
</div><!-- End content -->
</div><!-- End main content wrapper -->

	<div class="clearer"></div>
	<div id="footer"><!-- Start Footer -->
		<p>&copy; 2017 Jay Greco <a href="#" id="rw_email_contact">Contact Me</a><script type="text/javascript">var _rwObsfuscatedHref0 = "mai";var _rwObsfuscatedHref1 = "lto";var _rwObsfuscatedHref2 = ":ja";var _rwObsfuscatedHref3 = "yv.";var _rwObsfuscatedHref4 = "gre";var _rwObsfuscatedHref5 = "co@";var _rwObsfuscatedHref6 = "gma";var _rwObsfuscatedHref7 = "il.";var _rwObsfuscatedHref8 = "com";var _rwObsfuscatedHref = _rwObsfuscatedHref0+_rwObsfuscatedHref1+_rwObsfuscatedHref2+_rwObsfuscatedHref3+_rwObsfuscatedHref4+_rwObsfuscatedHref5+_rwObsfuscatedHref6+_rwObsfuscatedHref7+_rwObsfuscatedHref8; document.getElementById('rw_email_contact').href = _rwObsfuscatedHref;</script></p>
	</div><!-- End Footer -->
	</div><!-- End container -->
</div><!-- End wrapper -->
</div><!-- End border -->
<!-- Start Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38316246-1']);
  _gaq.push(['_setDomainName', 'jay-greco.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script><!-- End Google Analytics -->
</body>
</html>
